// _color.scss
$black: #080F17;

$white: #FFFFFF;
$white0A: #FFFFFF0A;
$white14: #FFFFFF14;
$white33: #FFFFFF33;
$white47: #FFFFFF47;

$grey: #D6DDE6;
$grey66: #D6DDE666;

$red: #DC3545;

$green: #A7EE43;
