@use '../../../app/styles/variables';

.layout {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  min-width: variables.$mobile;
  max-width: variables.$large;
  width: 100%;
  padding: 30px 15px;
  margin: 0 auto;
}
