@use '../../../app/styles/colors';

.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 16px;
  color: colors.$grey;

  //@media (max-width: variables.$small) {
  //  grid-template-columns: 1fr;
  //}

  .label {
    display: block;
    font-weight: bold;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  .input {
    background: transparent;
    font-size: 15px;
    border-radius: 12px;
    border: 1px solid colors.$white33;
    color: colors.$grey;
    line-height: 20px;
    font-weight: 500;
    width: 100%;
    height: 36px;
    box-sizing: border-box;
    padding: 8px 12px;
    transition:
            border-color 0.3s ease-out,
            background 0.3s ease-out;

    &::placeholder {
      color: colors.$grey66;
    }

    &:hover,
    &:focus {
      border-color: colors.$white47;
      background: colors.$white14;
      transition: border-color 0.3s ease-out;
    }

    &:focus {
      outline: none;
    }

    &.error {
      border-color: colors.$red;
    }
  }
}

.errorMessage {
  color: colors.$red;
  font-size: 12px;
  margin-top: -4px;
}
