@use '../../../app/styles/colors';

$background: #122030;
$headerColor: #667085;

.container {
  overflow: auto;
  max-height: 712px;
  border-radius: 24px;
  width: 100%;

// не упарывался со скроллом
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(217, 217, 217, 0.6);
    border-radius: 6px;
    border: 3px solid transparent;
  }
}

.table {
  border-radius: 12px;
  background: $background;
  box-sizing: border-box;
  color: colors.$white;
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  border-style: hidden;

  .headerRow {
    height: 44px;
    position: sticky;
    top: 0;
    color: $headerColor;
    font-weight: 600;
    line-height: 12px;
    z-index: 1;
  }

  .headerCell {
    padding: 8px;
    background: colors.$greyLight;
    font-size: 12px;

    &.fixed {
      position: sticky;
      left: 0;
    }
  }

  .headerContent {
    display: flex;
    align-items: center;
  }

  .cell {
    height: 36px;
    font-size: 14px;
    font-weight: 400;
    padding: 8px;
    box-sizing: border-box;
    background: $background;

    &:not(:first-child) {
      border-bottom: 1px solid colors.$white14;
    }

    &.fixed {
      position: sticky;
      left: 0;
    }
  }
}
