@use '../../../../app/styles/colors';

$color: #95A1AE;

//@media (max-width: variables.$small) {
//  height: auto;
//}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 25px;
  margin-top: 100px;

  .header,
  .description {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
  }

  .header {
    font-size: 120px;
    font-weight: 700;
    color: colors.$white;
    line-height: 144px;
  }

  .description {
    font-size: 32px;
    font-weight: 50;
    color: $color;
    line-height: 38px;
    max-width: 60%;
  }
}
